@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 32px;
}

.row { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin: 0 auto;
}

a {
    color: #243e63;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;

}

.treact__logo{
    width: 40px;
    padding-top: 30px;
    
}

.logo__header {
    color: #243e63;
    font-weight: 900;
    font-size: 26px;
    margin: 14px;
    padding-top:30px;
}




ul {
    display: flex;
}

li {
    list-style: none;
    padding-left: 16px;
    color: #243e63;
    display: flex;
    margin: 12px;
    padding-top: 30px;
}

.nav__link--anchor {
    font-size: 15px;
    
    
}

.nav__link--anchor:hover {
    color: #430faa;
    text-decoration: underline;


}

.nav__link--anchor-primary {
    background-color: #6415ff;
    color: #f7fafc;
    margin: 8px 0px;
    padding: 12px 32px;
    border-radius: 60px;
    text-decoration: none;   
}

 .nav__link--anchor-primary:hover {
    background-color: #430faa;
    transition: 100ms;
    text-decoration: none;
    color: #FFFFFF;  

 }

 .logo__header:hover {
    color: #5d3eff;
    transition: 200ms;
     
 }

 .text__purple {
    color: #6415ff;
 }

    /* NAVIGATION BAR  */

    .container {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .templates__left {
        padding-top: 100px;
        width: 40%;
    }

    .templates__right {
        padding-top: 100px;
        width: 60%;
        margin-left: 10%;
    }


    .templates__header {
        font-size: 48px;
        padding-bottom: 20px; 
    }

    .templates__para {
        font-size: 18px;
        color: #243e63;
    }

    img.templates {
        width: 100%;
    }

    .email__wrapper {
        padding-top: 20px;
    }

    .email__box {
        font-weight: 700;
        border-radius: 60px;
        padding: 24px;
        padding-right: 250px;
        border-color: rgba(0, 0, 0, 0.1);
    }

    .email__box:hover {
        border-color: 1;
    }

    .email__button {
        background-color: #6415ff;
        padding: 12px 20px;
        border-radius: 60px;
        color: white;
        transition: all 300ms ease;
        border: none;
        font-size: 18px;
        margin: 16px 0 24px 0;
        margin: -145px;
        cursor: pointer;
    }

    .email__button:hover {
        background-color: #5d3eff;
    }

    .customers__para {
        padding-top: 60px;
        font-size: 12px;
        font-weight: 500;
        color: #a0aec0;
    }

    .customers__img {
        max-width: 85%;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        opacity: 0.5;
    }


    /* ABOUT */



    .second__container {
        padding: 80px 0;
    }

    .services__section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services__header {
        color: #6415ff;
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
    
    }

    .services__subheader {
        text-align: center;
        padding-top: 20px;
        font-size: 48px;
        font-weight: 900;
        color: #243e63;
    }

    .services__para {
        display: flex;
        text-align: center;
        color: #7c8ba1;
        padding-top: 40px;
        font-size: 18px; 
        width: 60%;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
    }

    .service {
        display: flex;
        width: calc(100%/3);
        padding-top: 40px;
    }

    .service__description {
        display: flex;
        flex-direction: column;
    }

    .imagecontainer {
        border-radius: 99px;
        display: flex;
        border-width: 1px;
        padding: 20px;
        border: 1;
        border-style: solid;
        border-color: rgb(226, 232, 240);
        text-align: center;
    }

    .title {
        font-size: 24px;
        color: #243e63;
        font-weight: 700;
        text-align: left;
        padding-left: 20px;  
    }

    .description {
        font-size: 17px;
        font-weight: 500;
        color: #7c8ba1;
        text-align: left;
        padding-left: 20px;
        padding-top: 10px;
        width: 80%;
        line-height: 2;
    }

    /* DESIGN */

    .quality__row {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    
    .quality__header--section {
        width: 100%;    
    }

    .quality__header {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #6415ff;
    }

    .quality__subheader {
        font-size: 48px;
        font-weight: 900;
        text-align: left;
        color: #243e63;
        margin: 16px 0 0;
        

    }

    .quality__para {
        font-size: 18px;
        font-weight: 300;
        color: #7c8ba1;
        text-align: left;
        margin: 16px 0 0;
        letter-spacing: 0.5px;
        width: 90%;
        
    }

    .quality__button {
        color: #f7fafc;
        background-color: #6415ff;
        font-size: 14px;
        font-weight: bold;
        margin: 32px 0px 0px;
        padding: 12px 32px;
        border-radius: 99px;
        border: none;
        cursor: pointer;
        width: 23%;
    }

    .quality__button:hover {
        background-color: #430faa;
        transition: 300ms;
    }

    .quality__img {
        width: 100%;
    }

    /* QUALITY */

    .steps__section {
       display: flex;

    }

    .steps__img {
        width: 95%;
    }

    .steps__list {
        width: 50%;
        display: flex;
        flex-direction: column;
       
    }

    .steps__header {
        font-size: 16px;
        color: #6415ff;
        letter-spacing: 2px;
    }

    .steps__subheader {
        font-size: 48px;
        font-weight: 900;
        color: #243e63;
        margin: 16px, 0px, 0px;
        
    }

    .lists__wrapper {
        display: flex;
        flex-direction: column; 
    }


    .list__numbers {
        font-size: 36px;
        font-weight: 500;
        color: #CBD5E0;
        padding-right: 24px;
        
    }

    .list__header {
        font-size: 20px;
        font-weight: 500;
        color: #243e63;
        
    }

    .list__para {
        font-size: 14px;
        font-weight: 500;
        color: #718096;
        margin: 12px 0px 0px;
        
    }

     /* Pricing */

     .pricing__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
     }

     .pricing__header {
        font-size: 16px;
        font-weight: 700;
        color: #6415ff;
        text-align: center;
        padding-top: 46px;
        letter-spacing: 2px;
     }

     .pricing__subhead {
        text-align: center;
        font-size: 48px;
        color: #243e63;
        padding-top: 32px;
        font-weight: 900;
     }

     .pricing__para {
        text-align: center;
        color: #7c8ba1;
        padding-top: 40px;
        font-size: 18px;
        max-width: 36rem;
        
     }